$blackColor: #000
$grayColor: #666666
$font: 'Roboto Mono', monospace


*
  margin: 0
  padding: 0

html
  font-size: 13px
  font-family: $font

body
  display: flex
  flex-direction: column
  align-items: center

  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


.header
  &__title
    display: flex
    justify-content: center
    margin: 30px 0

.main
  display: flex
  flex-direction: column

  &__container
    display: flex
    justify-content: space-between

    border: 1px solid $blackColor
    padding: 18px 26px
    border-radius: 5px

    margin-bottom: 20px

.password
  &__input
    width: 100%
    border: none
    border-bottom: 1px solid $blackColor
    font-family: $font
    font-size: 1.3em
    text-align: center
    outline: none

    &::selection
      background: none

  &__image-container
    display: flex
    align-items: center
    justify-content: center
    margin-left: 12px

  &__image
    width: 32px
    height: 32px
    background-color: none

    &:hover
      transform: scale(1.1)

    &--refresh
      touch-action: manipulation

    &--copy
      margin-left: 6px
      touch-action: manipulation

.options
  &__title
    font-size: 1.6em
    font-family: $font
    margin-bottom: 12px

  &__container-inputs
    display: flex
    align-items: center

  &__input-text
    height: 40px
    width: 54px
    font-size: 2.1em
    text-align: center

    border: 1px solid $grayColor
    border-radius: 5px
    background: none
    outline: none

    &::selection
      background: none

  &__input-range
    -webkit-appearance: none
    width: 100%
    height: 10px
    margin-left: 10px
    cursor: pointer
    border-radius: 3px
    background: $grayColor
    outline: none

    &::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 25px
      height: 25px
      border-radius: 4px
      background: #ffffff
      cursor: pointer
      border: 2px solid $grayColor

    &::-moz-range-thumb
      width: 25px
      height: 25px
      border-radius: 5px
      background: $grayColor
      cursor: pointer

  &__checkboxes
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-left: 30px

  &__label
    display: block
    position: relative
    padding-left: 35px
    margin-bottom: 10px
    cursor: pointer
    font-size: 1.4em

  &__checkbox
    position: absolute
    opacity: 0
    cursor: pointer

  &__checkmark
    position: absolute
    top: 0
    left: 0
    height: 25px
    width: 25px
    background-color: #eee

  &__label:hover .options__checkbox ~ .options__checkmark
    background-color: #ccc

  &__label .options__checkbox:checked ~ .options__checkmark
    background-color: $grayColor

  &__checkmark:after
    content: ""
    position: absolute
    display: none

  &__label .options__checkbox:checked ~ .options__checkmark:after
    display: block

  &__label .options__checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)



@media screen and (max-width: 490px)
  .header__title
    width: 300px
    text-align: center
    margin: 16px 0

  .main__container
    display: flex
    flex-direction: column
    min-width: 230px

  .password__input
    font-size: 0.9em

  .password__image-container
    margin-top: 16px

  .password__image--copy
    margin-left: 16px

  .password__image
    width: 42px
    height: 42px

  .options__title
    text-align: center

  .options__checkboxes
    margin-top: 20px
    margin-left: 10px