<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <meta name='description' content='Password generator (min 4, max 32 symbols)'>
  <meta name='author' content='https://github.com/tymino'>
  <meta name='keywords' content='html, sass, javascript, typescript, webpack, password generator'>

  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap' rel='stylesheet'>
  <link rel='shortcut icon' type='image/x-icon' href='<%= require('./images/favicon.ico').default %>'>

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header class="header">
    <h1 class="header__title">Создайте свой пароль</h1>
  </header>

  <main class="main">
    <div class='password main__container'>
      <input class="password__input" type='text'>

      <div class="password__image-container">
        <img class='password__image password__image--refresh js-password__image--refresh' alt='image refresh' src='<%= require('./images/icons/refresh.png').default %>'>
        <img class='password__image password__image--copy js-password__image--copy' alt='image copy' src='<%= require('./images/icons/copy.png').default %>'>
      </div>
    </div>

    <div class='js-options options main__container'>
      <div class='options__length-pass'>
        <p class="options__title">Длина пароля</p>
        <div class="options__container-inputs">
          <input class="options__input-text js-options__input-text" type='text' value='12' disabled>
          <input class="options__input-range js-options__input-range" type='range' min='4' max='32' value='12'>
        </div>
      </div>

      <div class='options__checkboxes'>
        <label class='options__label'>Строчные буквы
          <input class='options__checkbox js-options__checkbox' type='checkbox' value='low' checked>
          <span class="options__checkmark"></span>
        </label>

        <label class='options__label'>Прописные буквы
          <input class='options__checkbox js-options__checkbox' type='checkbox' value='up' checked>
          <span class="options__checkmark"></span>
        </label>

        <label class='options__label'>Цифры
          <input class='options__checkbox js-options__checkbox' type='checkbox' value='num' checked>
          <span class="options__checkmark"></span>
        </label>

        <label class='options__label'>Символы
          <input class='options__checkbox js-options__checkbox' type='checkbox' value='symb' checked>
          <span class="options__checkmark"></span>
        </label>
      </div>
    </div>
  </main>
</body>
</html>